assemblyai==0.18.0
langchain==0.0.329
llama_index==0.9.36
PyPDF2==3.0.1
python-docx==0.8.11
replicate==0.13.0
streamlit==1.30.0
streamlit_extras==0.3.2
deeplake==3.6.25
tabulate
duckduckgo-search
openai==0.28
